<%- model_class = Individual -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name("Lattes") %></th>
      <th><%= model_class.human_attribute_name("Sigaa") %></th>
      <th><%= model_class.human_attribute_name("Scholar") %></th>
      <th><%= model_class.human_attribute_name("PubMed") %></th>
      <th><%= model_class.human_attribute_name(:photo) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:individualcategory_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @individuals.each do |individual| %>
      <tr>
        <td><%= link_to individual.id, individual_path(individual) %></td>
        <td><%= individual.name %></td>
        <td><%= (individual.linklattes.blank?) ? 'empty' : 'filled' %></td>
        <td><%= (individual.linksigaa.blank?) ? 'empty' : 'filled' %></td>
        <td><%= (individual.linkscholar.blank?) ? 'empty' : 'filled' %></td>
        <td><%= (individual.linkpubmed.blank?) ? 'empty' : 'filled' %></td>
        <td><%= (individual.photo.blank?) ? 'empty' : 'filled' %></td>
        <td><%= individual.email %></td>
        <td><%= individual.individualcategory.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
